.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: 16px;
  color: white;

  background: #e8a87c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7cc1ac, #e8a87c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7cc1ac,
    #e8a87c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &_appColors {
    background-color: #e27d60;
    background-color: #85cdca;
    background-color: #e8a87c;
    background-color: #c38d9e;
    background-color: #40b3a2;
    background-color: #ef8b93;
    background-color: #fcc1c3;
    background-color: #7cc1ac;
  }
}
