.app {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  // background-color: #e27d60;
  // background-color: #85cdca;
  // background-color: #e8a87c;
  // background-color: #c38d9e;
  // background-color: #40b3a2;
  // background-color: #ef8b93;
  // background-color: #fcc1c3;
  // background-color: #7cc1ac;
  background: #ffa17f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00223e, #ffa17f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00223e,
    #ffa17f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
