$primary-bcg-color: #7cc1ac;
$primary-header-bcg-color: #40b3a2;
$primary-text-color: #f0e6e6;
$primary-name-color: #111111;
$primary-link-color: #f0e6e6;
$primary-link-color-hover: #e27d60;
// $primary-link-color: #ef8b93;
// $primary-link-color: #c38d9e;
// $primary-: #85cdca;
// $background-color: #e8a87c;
// $background-color: #fcc1c3;
// $primary-color: #ffcfb1;
